<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.neosvet.vestnewage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.StartTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="blagayavest.info"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="otkroveniya.info"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="otkroveniya.eu"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="otkroveniya.ru"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="www.blagayavest.info"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="www.otkroveniya.info"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="www.otkroveniya.eu"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="www.otkroveniya.ru"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="o53xo.n52gw4tpozsw42lzmexgk5i.cmle.ru"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <data
                    android:host="0s.o53xo.n52gw4tpozsw42lzmexgk5i.cmle.ru"
                    android:pathPrefix="/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BrowserActivity"
            android:theme="@style/Theme.MainTheme" />
        <activity
            android:name=".activity.MarkerActivity"
            android:label="@string/marker"
            android:theme="@style/Theme.MainTheme" />
        <activity
            android:name=".activity.CabpageActivity"
            android:theme="@style/Theme.MainTheme" />

        <service
            android:name=".helpers.CheckHelper"
            android:icon="@drawable/rss"
            android:label="@string/check_summary"
            android:process=":check" />
        <service
            android:name=".helpers.LoaderHelper"
            android:icon="@drawable/download"
            android:label="@string/load" />

        <receiver android:name=".helpers.PromHelper$Rec" />
        <receiver android:name=".helpers.SummaryHelper$Rec" />
        <receiver android:name=".helpers.NotificationHelper$Result" />
    </application>

</manifest>